
@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: normal;
  /* 確保在不同瀏覽器中一致 */
  box-sizing: border-box;
}

