.hero {
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1558981852-426c6c22a060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  padding: 0px;

  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
 
}
body {
  margin: 0;
  padding: 0; /* 移除內距 */
  overflow-x: hidden; /* 避免水平滾動 */
  height: 100%; /* 設定高度為視窗高度 */
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
  .hero {
      height: 300px;
      font-size: 3em;
  }
}

.appBar {
  color: "#fff",
}

body {
  background-color: #f0f0f0; /* 這裡的顏色代碼 #f0f0f0 為淺灰色，你可以更改成你想要的任何顏色 */
}

/* 設定文章區域的背景顏色為白色並設定邊距、填充、邊框等 */
.article {
  background-color: white; /* 文章背景為白色 */
  width: 80%; /* 文章寬度佔總寬度的80%，可調整 */
  margin: 20px auto; /* 上下邊距20px，左右自動置中 */
  padding: 20px; /* 內填充為20px */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加陰影效果讓文章區更有層次感 */
  border-radius: 10px; /* 邊角圓滑 */
}

/* 針對標題、文字、鏈接等元素進行更細緻的設定 */
h1, h2, h3, p, a {
  padding: 10px; /* 內填充 */
  line-height: 1.6; /* 行高 */
}